<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccine Tracker</title>
</head>
<body>
    <h1>Vaccine Tracker</h1> 
    <h2><%= status %></h1>
    <h3> By Rachel Swallow</h3>

    <form name="Covid-19 Form" method="post" onsubmit="return processFormSubmission();" action="/" >
        <label for="fname">First name:</label><br />
        <input type="text" id="fname" name="fname" value="John" /><br />
        <label for="lname">Last name:</label><br />
        <input type="text" id="lname" name="lname" value="Doe" /><br /><br />
        <label for="date">Date:</label><br />
        <input type="text" id="date" name="date" value="11-02-2020" /><br /><br />
        <label for="vaccine">Vaccine Type:</label><br />
        <input type="text" id="vaccine" name="vaccine" value="JJ" /><br /><br />
        <label for="place">Vaccine Place:</label><br />
        <input type="text" id="place" name="place" value="Sandton Mediclinic" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
  
      <br />
  
      First Name:
      <p id="form_fname">-</p>
      Last Name:
      <p id="form_lname">-</p>
      Vaccine Date:
      <p id="form_date">-</p>
      Vaccine Type:
      <p id="form_vaccine">-</p>
      Vaccine Place:
      <p id="form_place">-</p>

      <script src="scripts/main.js"></script>
</body>
</html>